//  8888888 888b     d888 8888888b.   .d88888b.  8888888b. 88888888888 .d8888b.
//    888   8888b   d8888 888   Y88b d88P" "Y88b 888   Y88b    888    d88P  Y88b
//    888   88888b.d88888 888    888 888     888 888    888    888    Y88b.
//    888   888Y88888P888 888   d88P 888     888 888   d88P    888     "Y888b.
//    888   888 Y888P 888 8888888P"  888     888 8888888P"     888        "Y88b.
//    888   888  Y8P  888 888        888     888 888 T88b      888          "888
//    888   888   "   888 888        Y88b. .d88P 888  T88b     888    Y88b  d88P
//  8888888 888       888 888         "Y88888P"  888   T88b    888     "Y8888P"



//  888     888     d8888 8888888b.  8888888        d8888 888888b.   888      8888888888 .d8888b.
//  888     888    d88888 888   Y88b   888         d88888 888  "88b  888      888       d88P  Y88b
//  888     888   d88P888 888    888   888        d88P888 888  .88P  888      888       Y88b.
//  Y88b   d88P  d88P 888 888   d88P   888       d88P 888 8888888K.  888      8888888    "Y888b.
//   Y88b d88P  d88P  888 8888888P"    888      d88P  888 888  "Y88b 888      888           "Y88b.
//    Y88o88P  d88P   888 888 T88b     888     d88P   888 888    888 888      888             "888
//     Y888P  d8888888888 888  T88b    888    d8888888888 888   d88P 888      888       Y88b  d88P
//      Y8P  d88P     888 888   T88b 8888888 d88P     888 8888888P"  88888888 8888888888 "Y8888P"

    // Colors
    // --------------------------------------------------
    $black: #222;
    $white: #FFF;

    // Media queries
    // --------------------------------------------------
    $bp_smaller: 480px;
    $bp_small: 768px;
    $bp_medium: 1024px;
    $bp_large: 1300px;


//  888b     d888 8888888 Y88b   d88P 8888888 888b    888  .d8888b.
//  8888b   d8888   888    Y88b d88P    888   8888b   888 d88P  Y88b
//  88888b.d88888   888     Y88o88P     888   88888b  888 Y88b.
//  888Y88888P888   888      Y888P      888   888Y88b 888  "Y888b.
//  888 Y888P 888   888      d888b      888   888 Y88b888     "Y88b.
//  888  Y8P  888   888     d88888b     888   888  Y88888       "888
//  888   "   888   888    d88P Y88b    888   888   Y8888 Y88b  d88P
//  888       888 8888888 d88P   Y88b 8888888 888    Y888  "Y8888P"

    // Media Queries
    // --------------------------------------------------
    @mixin media-min-large {
      @media only screen and (min-width: $bp_large) {
        @content;
      }
    }

    @mixin media-min-medium {
      @media only screen and (min-width: $bp_medium) {
        @content;
      }
    }

    @mixin media-max-medium {
      @media only screen and (max-width: $bp_medium) {
        @content;
      }
    }

    @mixin media-min-small {
      @media only screen and (min-width: $bp_small) {
        @content;
      }
    }

    @mixin media-max-small {
      @media only screen and (max-width: $bp_small) {
        @content;
      }
    }

    @mixin media-min-smaller {
      @media only screen and (min-width: $bp_smaller) {
        @content;
      }
    }

    // Clearfix
    // --------------------------------------------------
    %clearfix {
      *zoom: 1;
      &:before, &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }

    @mixin clearfix {
        *zoom: 1;
        &:before, &:after {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }
    }

    // Truncate text
    // --------------------------------------------------
    %truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @mixin truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // Unselectable
    // --------------------------------------------------
    @mixin unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    // Visually hidden
    // --------------------------------------------------
    %visuallyhidden {
      margin: -1px;
      padding: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      clip: rect(0, 0, 0, 0);
      position: absolute;
    }

    // Positioning
    // --------------------------------------------------
    %absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @mixin absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    %horizontal-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    @mixin horizontal-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    %vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @mixin vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }


//  888888b.         d8888  .d8888b.  8888888888
//  888  "88b       d88888 d88P  Y88b 888
//  888  .88P      d88P888 Y88b.      888
//  8888888K.     d88P 888  "Y888b.   8888888
//  888  "Y88b   d88P  888     "Y88b. 888
//  888    888  d88P   888       "888 888
//  888   d88P d8888888888 Y88b  d88P 888
//  8888888P" d88P     888  "Y8888P"  8888888888

    * {
      box-sizing: border-box;
    }



//  888             d8888 Y88b   d88P  .d88888b.  888     888 88888888888
//  888            d88888  Y88b d88P  d88P" "Y88b 888     888     888
//  888           d88P888   Y88o88P   888     888 888     888     888
//  888          d88P 888    Y888P    888     888 888     888     888
//  888         d88P  888     888     888     888 888     888     888
//  888        d88P   888     888     888     888 888     888     888
//  888       d8888888888     888     Y88b. .d88P Y88b. .d88P     888
//  88888888 d88P     888     888      "Y88888P"   "Y88888P"      888



//  888b     d888  .d88888b.  8888888b.  888     888 888      8888888888 .d8888b.
//  8888b   d8888 d88P" "Y88b 888  "Y88b 888     888 888      888       d88P  Y88b
//  88888b.d88888 888     888 888    888 888     888 888      888       Y88b.
//  888Y88888P888 888     888 888    888 888     888 888      8888888    "Y888b.
//  888 Y888P 888 888     888 888    888 888     888 888      888           "Y88b.
//  888  Y8P  888 888     888 888    888 888     888 888      888             "888
//  888   "   888 Y88b. .d88P 888  .d88P Y88b. .d88P 888      888       Y88b  d88P
//  888       888  "Y88888P"  8888888P"   "Y88888P"  88888888 8888888888 "Y8888P"